.greeting {
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}

.greeting-p {
    margin: 0;
}

.greeting-span {
    font-size: 13px;
    color: gray;
    font-weight: 800;
}

.dark-mode-text {
    font-weight: 900;
    color: #00000070;
}

.navbar {
    transition: all 0.2s;
}